{% extends 'base.html' %}

{% block content %}
<a href="{% url 'home' %}">홈으로 가기</a>
<h2>내 주문 목록</h2>
<style>
    table, th, td, tr{
        border: 1px solid;
        border-collapse: collapse;
    }
</style>
<table>
    <thead>
        <tr>
            <th>이름</th>
            <th>입금자명</th>
            <th>연락처</th>
            <th>상태</th>
            <th>상품</th>
            <th>크기</th>
            <th>수량</th>
            <th>총 가격</th>
            <th>주소</th>
            <th>배송희망일</th>
            <th>리뷰</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.depositor_name }}</td>
            <td>{{ order.contact }}</td>
            <td>{{ order.get_status_display }}</td>
            <td>{{ order.item.name }}</td>
            <td>{{ order.get_size_display }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.total_price }}원</td>
            <td>{{ order.address }}, {{ order.detail_address }}</td>
            <td>{{ order.preferred_delivery_date }}</td>
            <td>
                {% if order.status == 'completed' and not order.review_written %}
                    <a href="{% url 'review_create' order.id %}">리뷰 쓰기</a>
                {% elif order.review_written %}
                    리뷰 작성 완료
                {% elif order.status != 'completed' %}
                    <a href="#" onclick="alert('배송이 완료되면 리뷰를 작성할 수 있습니다.')">리뷰 쓰기</a>
                    
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}